/* Mobile Only */
@media (max-width: 640px) {
    canvas {
        height: 500px;
        width: 500;
    }
    main{
        display: grid;
        justify-items: center;
    }

    .editor {
        width: 300px;
    }

    .tool-bar {
        gap: 0px;
    }

    .editor .text {
        width: 200px;
        height: 40px;
        font-size: 20px;
    }

    .editor button {
        width: 50px;
        height: 50px;
        font-size: 20px;

    }

    .tool-bar .text-edit {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);


    }
/* 
    .search-bar{
        display: none;
    } */

    .tool-bar .txt-color {
        grid-column: 1;
        width: 50px;
        height: 50px;
    }

    .tool-bar .change-font-size {
        font-size: 20px;
        width: 50px;
        height: 50px;
    }

    .tool-bar .font-choose {
        grid-column: 1;
        width: 50px;
        height: 50px;
        font-size: 15px;
    }

    .share{
        height: 40px;
        font-size: 25px;
    }


    .gallery {
        display: grid;
        grid-template-columns: 1fr;
    }

    .saved {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo {
        margin-left: 10px;
    }

    .main-nav {
        /* opacity: 0;
        pointer-events: none; */

        position: fixed;
        top: 70px;
        right: -100%;

        height: 100%;
        width: 200px;

        background-color: #29B37F;

        transition: 500ms;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 40px;
    }

    .main-nav li {
        font-size: 1.8em;
        border-bottom: 6px solid #ffffff;
    }

    .burger-menu {
        margin-right: 10px;
        cursor: pointer;
    }

    .burger-menu .line {
        background-color: white;
        width: 40px;
        height: 8px;
        margin-bottom: 7px;
        border-radius: 5px;
    }

    .burger-menu {
        display: block;
    }

    .search-names {
        display: none;
    }

    .names-filter {
        width: 90%;
    }

}

/* Small */
@media (min-width: 640px) {

    /* canvas {
        height: 650px;
        width: 650px;
    } */


    .logo {
        margin-left: 10px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .saved {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-nav-list li a {
        padding: 5px;
        margin-inline-start: 1em;
        font-size: 1.6em;
    }

    .burger-menu {
        display: none;
    }
}

/* Medium */
@media (min-width: 870px) {
    .main-header {
        height: 5em;
    }

    .logo {
        margin-inline-start: 2em;
        font-size: 2em;
    }

    .editor {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1em;
    }

    /* canvas {
        height: 750px;
        width: 750px;
    } */

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .saved {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .main-nav-list li a {
        padding: 10px;
        font-size: 1.8em;
        margin-inline-start: 2em;
        transition: 150ms;
    }

}

/* Large */
@media (min-width: 1040px) {
    .main-header {
        height: 7em;
    }

    .logo {
        font-size: 2.3em;
    }

    .main-nav-list li a {
        padding: 32px;
        margin-inline-start: 1.5em;
        font-size: 2em;
    }

    .editor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em
    }

    /* canvas {
        height: 600px;
        width: 600px;
    } */

    .gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .saved {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }


}