.canvas-container {
    /* background-color: steelblue; */
    /* width: 80vw; */
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: white;
    border: 0.5em solid var(--clr-bg-secondary);
    border-radius: 1.75em;
    cursor:grab;
}

