.gallery {
    background-color: var(--clr-bg-secondary);
    padding: 0.7em;

    border-radius: 0.625em;

    margin-bottom: 10px;
}

.gallery img {
    margin-bottom: 10px;

    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    outline: 0px #1DA996 solid;
    transition: 100ms;
    cursor: pointer;
}

.gallery img:hover {
    outline: 7px rgba(36, 198, 177, 50%) solid;
}

.gallery.none {
    display: none;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 100vw;
    
    transition: 300ms;
    opacity: 0;
    pointer-events: none;
    background-color:rgba(211, 211, 211);
}

.backdrop.show{
    opacity: 0.5;
    pointer-events:all;
}