.names-filter {
    font-family: poppins, serif;
    font-size: 1.5em;

    border-radius: 15px;
    height: 40px;
    width: 200px;
}

.search-bar {
    display: flex;
    align-items: center;

}

.search-names {

    height: 100%;

    cursor: pointer;

    vertical-align: top;
    margin-inline-start: 30px;
    overflow: hidden;
}

.search-names span {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    height: 100%;
    overflow: hidden;
}

.x-btn {
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    transition: 200ms;
}

.keyword{
    transition: 200ms;
}

.keyword:hover,
.x-btn:hover {
    opacity: 50%;
}